.main_item {
	padding: 10px;
}

.item_container {
	padding: 20px;
	position: absolute;
	width: 500px;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px #8c8c8c;
	text-align: center;
}

.item_container > :not(:first-child, :last-child) {
	margin: 10px 0;
}

.item_scale {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.item_buttons {
	display: flex;
	justify-content: flex-end;
}
