.header {
	background-color: var(--primary-color);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	display: flex;
}

.links a:not(:last-child) {
	margin-right: 10px;
}

.links a {
	color: #fff;
	text-decoration: none;
}

.basket {
	position: relative;
}

.order_qty {
	position: absolute;
	top: -50%;
	right: -20%;
	background-color: red;
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
}
