.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.pagination div {
	padding: 20px;
	border: 1px solid #000;
	margin: 0 3px;
	cursor: pointer;
}

.pagination [data-active="true"] {
	background-color: var(--primary-color);
	color: #fff;
}
