body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
	position: relative;
	height: 3rem;
}
.logo__main {
	height: 100%;
}
.image-container {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
/* .image-coffee {
	transform: translateX(75px);
} */
