.button {
	background-color: #fff;
	padding: 7px;
	border-radius: 1em;
	font-size: 14px;
	margin: 5px;
	cursor: pointer;
}

.button:disabled {
	opacity: 0.5;
}

.button:disabled:hover {
	box-shadow: none;
	text-shadow: none;
}

.primary {
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
}
.danger {
	color: red;
	border: 2px solid red;
}

.danger svg path {
	fill: red;
}
.primary svg path {
	fill: var(--primary-color);
}

.primary:hover {
	box-shadow: 0 0 2px 2px var(--primary-color);
	text-shadow: 0px 0px 2px var(--primary-color);
}
.danger:hover {
	box-shadow: 0 0 2px 2px red;
	text-shadow: 0px 0px 2px red;
}
